body{
  background-color: teal;
}
div{
  position: relative;
  z-index: 2;
}
#quote-box{
  border-radius: 4px;
  width: 40vw;
  height: 40vh;
  display: block;
  background: linear-gradient(140deg, white,lightblue);
  padding: 40px 50px;
  margin: 0 auto;
 }
i{
  font-size:1.0em;
  margin-right: 0.4em;
 }
  .quote-text{
    text-align:center;
    /**width:450;*/
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.5em;
    }
  .quote-author {
    width:350px;
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1em; 
    text-align:right;
  }
  .row{
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
#tweet-quote{
        padding-top:8px;
        text-align:center;
        font-size:1.2em;
    }
  #n-quote{
    display: block;
    justify-content: space-around;
    margin-left:159px;
  } 
@media(max-width: 800px){
  #quote-box{
    height: 30vh;
    width:  20vw;
    text-align: center;
    display: table;
  }
    .quote-text{
        font-size: 0.6em;
    }
    .quote-author{
        width:200px;
    }
    .row{
        width:40vw;
        flex-direction: column;
    }
    button{
        width: 40vw;
    }
    #tweet-quote{
        font-size:0.5em;
    }
    #n-quote{
        margin:auto;
    }
 }
@media(max-height: 800px){
    #quote-box{
    height: 40vh;
 }
  
}